<?xml version="1.0" encoding="utf-8"?>
<view_strings>
    <main_window>SalaryAdmininstrationGui</main_window>
	<menu_main>File..</menu_main>
	<menu_new>New..</menu_new>
	<menu_save>Save Employees As..</menu_save>
	<menu_load>Load Emloyees..</menu_load>
	<menu_help>Help</menu_help>
	<menu_exit>Exit</menu_exit>
	<button_clear_form>Clear form</button_clear_form>
	<button_save_emp>Save Employee</button_save_emp>
	<button_delete_emp>Delete Employee</button_delete_emp>
	<editor_firstname>First name(s):</editor_firstname>
	<editor_lastname>Last name:</editor_lastname>
	<editor_ssn>SSN:</editor_ssn>
	<editor_pay_type>Pay type:</editor_pay_type>
	<editor_hours_done>Hours done:</editor_hours_done>
	<editor_mon_sal>Monthly salary (EUR)</editor_mon_sal>
	<editor_hour_sal>Hourly salary (EUR)</editor_hour_sal>
	<editor_claim>Outcome claim:</editor_claim>
	<editor_bonus>Bonus (%)</editor_bonus>
</view_strings>